
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Home/Login", false);
    }
}


<div class="container-fluid">
    <h2>Index</h2>
    <br />
    <h4>Bienvenido Trabajador</h4>
</div>



